body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

h1 {
  color: black;
  margin-right: 30px;
}

.container {
  background: white;
  border-radius: 25px;
  border-style: dashed;
  position: relative;
  padding: 20px;
  width: 35%;
  height: 80%;
  margin: 200px auto;
}
